* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 13px;
}

.header {
	display: block;
	width: 100%;
}

.header::after {
	content: "";
	display: block;
	clear: both;
}

.nav {
	float: right;
}

.nav li {
	display: inline-block;
	margin: 20px 10px;
}

.nav-link a {
	display: block;
	color: #434343;
	text-decoration: none;
	
}

.nav-link a:hover {
	text-decoration: underline;
}

.btn-applications {
	vertical-align: middle;
}

.btn-applications svg:hover {
	fill: #000;
}

li.btn-login {
	margin-right: 30px;
}

.btn-login a {
	padding: 8px 14px;
	background: #4583ec;
	border-radius: 3px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	cursor: default;
}

.content {	
	width: 600px;
	margin: 150px auto auto;
}

.logo-google {
	position: relative;
	//border: 1px solid black;
	text-align: center;
}

.logo-google img {
	width: 270px;
}

.country {
	color: #4583ec;
	font-size: 16px;
	position: absolute;
	right: 165px;
	bottom: 0px;
}

.search-box {
	margin-top: 30px;
	text-align: center;
	position: relative;
}

a.btn-search {
	display: inline-block;
	font-weight: bold;
	color: rgba(0,0,0,0.6);
	padding: 10px 15px;
	background: #f0f0f0;
	margin: 40px 3px 0px 3px;
	text-decoration: none;
}

a:hover.btn-search {
	outline: 1px solid #e0e0e0;
	color: #000;
}

#search-form {
	box-sizing: border-box;
	display: block;
	width: 100%;
	padding: 15px 100px 15px 15px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.15);
	border: 1px solid rgba(0,0,0,0.15);
}

#search-form:hover {
	box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

#search-form:focus, #search-form:active {
	outline: 0;
}

.keyboard {
	position: absolute;
	width: 19px;
	height: 11px;
	display: block;
	background: url("../images/keyboard.png") no-repeat;
	top: 18px;
	right: 60px;
}

.keyboard:hover {
	background-position: -21px 0px;
}

.microphone {
	position: absolute;
	width: 14px;
	height: 20px;
	display: block;
	background: url("../images/microphone.png") no-repeat;
	top: 15px;
	right: 20px;
}

span.tooltip {
	display: none;
	padding: 7px 5px;
	background: #000;
	border: 1px solid #fff;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.15);
	text-decoration: none;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
	position: absolute;
	cursor: default;
}

.keyboard:hover span {
	display: block;
	top: 32px;
	right: -55px;
}

.microphone:hover span {
	display: block;
	top: 35px;
	right: -45px;
}

.footer {
	width: 100%;
	background: #f0f0f0;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #e0e0e0;
}

.footer::after {
	content: "";
	display: block;
	clear: both;
}

.footer a {
	display: inline-block;
	color: #434343;
	text-decoration: none;
	padding: 12px 15px;
}

.footer a:hover {
	text-decoration: underline;
}

.footer-left {
	float: left;
	margin-left: 12px;
}

.footer-right {
	float: right;
	margin-right: 12px;
}